@import url('https://fonts.cdnfonts.com/css/montserrat');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    z-index: 0;
    height: 300vh;
    width: 100%;
    background: linear-gradient(45deg, #E91E63, #42A5F5);
}

.container{
    /* position: relative;
    display:flex;
    
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; */

    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* for the contact page */
/* for the title */
.title-box {
  background: #FFF;
  text-align: left;
  position: relative;
  font-size: 24px;
  padding: 1rem;
}

/* for the search  */
.search-box {
  margin-top: 100px;
  display: flex;
  position: relative;
  height: 100px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur (4px) saturate(180%);
}
.search-bar input{
    background: transparent; 
    flex: 1;
    border: 0;
    outline: none; 
    padding: 24px 20px; 
    font-size: 20px;
    color: #cac7ff;
}
::placeholder{
    color:#cac7ff;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0; 
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    background: #cac7ff;
    cursor: pointer;
}
/* for where the polaroid are */
.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}

/* white polaroid */
.polaroid {
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0 0.2rem 30rem rgba(0,0,0,0.2);
}

/* image on polaroid */
.polaroid > img{
  max-width: 100%; /* Set the maximum width to 50% of the parent container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any default inline spacing */
  margin: 0 auto; /* Center the image horizontally */
}

.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 3em;
}

/* the whole polaroid */
.item {
  width: 20%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
/* the before size */
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

/* for the space "white" space in between */
.item {
  transform: scale(0.8, 0.8);
  transition: all 0.35s;
}

.item .polaroid:before {
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

.item:hover {
  filter: none;
  transform: scale(1, 1);
  transition: all 0.35s;
}

.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
} 