@import url('https://fonts.cdnfonts.com/css/montserrat');

@IMPORT url('https://fonts.googleapis.com/css?family=Sofia');

.sofia-font {
    font-family: 'Sofia', cursive;
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #E91E63, #42A5F5);
}


.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-header{
    text-align: center;
    position: relative;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg,#620355, #c82cb1, #fb53e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(0px, -40px);
}

.login-box{
    background: #FFF;
    padding: 100px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    font-size: 14px;
    border-radius: 5px;
}

.login{
    width: 100%;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="text"].form-control, input[type="password"].form-control{
    font-size: 16px;
    outline: none;
    border: none;
    width: calc(100% - 36px);
    border: 2px solid #CCC;
    padding: 16px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

input[type="text"].form-control:hover, input[type="password"].form-control:hover{
    border: 2px solid #F8BBD0;
}

input[type="text"].form-control:focus, input[type="password"].form-control:focus{
    border: 2px solid #F06292;
}

input[type="text"].form-control:active, input[type="password"].form-control:active{
    border: 2px solid #F06292;
}

label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

label input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

button{
    outline: none;
    background: #E91E63;
    color: #FFF;
    padding: 16px;
    display: block;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    box-shadow: 5px 5px 5px #CCC;
}

a{
    color: #42A5F5;
}

.wrapper {
  width: 1%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  /* background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2); */

  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  width: 200px; /* Adjust the width as needed */
  max-width: 10%; /* Ensure the element is responsive */
  height: auto; /* Maintain aspect ratio */

}
.polaroid > img{
  max-width: 10%; /* Set the maximum width to 50% of the parent container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any default inline spacing */
  margin: 0 auto; /* Center the image horizontally */
}
.caption {
  font-family: 'Sofia', cursive;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}
