@import url('https://fonts.cdnfonts.com/css/montserrat');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    z-index: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #E91E63, #42A5F5);
}

.container{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-img-background{
    position: absolute;
    top: 80;
    left: 100;
    width: 43.1%;
    height: 74%;
    z-index: -1;
    transform: translate(-2px, 35px);
    border-radius: 15px;
    filter: brightness(1.07);
}

.login-header{
    text-align: center;
    position: relative;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg,#620355, #c82cb1, #fb53e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(0px, -40px);
}

.login-box{
    background: #FFF;
    padding: 100px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    font-size: 14px;
    border-radius: 5px;

}

.login{
    width: 100%;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="text"].form-control, input[type="password"].form-control{
    font-size: 16px;
    outline: none;
    border: none;
    width: calc(100% - 36px);
    border: 2px solid #CCC;
    padding: 16px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

input[type="text"].form-control:hover, input[type="password"].form-control:hover{
    border: 2px solid #F8BBD0;
}

input[type="text"].form-control:focus, input[type="password"].form-control:focus{
    border: 2px solid #F06292;
}

input[type="text"].form-control:active, input[type="password"].form-control:active{
    border: 2px solid #F06292;
}

label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

label input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer; 
}

button{
    outline: none;
    background: #E91E63;
    color: #FFF;
    padding: 16px;
    display: block;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    box-shadow: 5px 5px 5px #CCC;
}

a{
    color: #42A5F5;
}
